<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>

        <section class="card">
            <article class="card-information">
                <div class="img-logo">
                    <img src="/images/img.jpg" alt="profile">
                </div>
                <br>
                    <p class="font-text">Jeiker Muñoz</p>
                    <hr>
                    <h3 class="color-text">SOBRE MÍ</h3>
                    <br>
                    <p class="color-text">- Estoy dispuesto a aprender la programación por qué me gusta todo lo que tiene que ver con esta misma, si daría a elegir una rama me iría por las redes.</p>
                    <br>
                    <p class="color-text">- Pre-Selección de Fútbol: Sala de la Unerg y actualmente jugador activo.</p>
                    <br>
                    <h3 class="color-text">HABILIDADES</h3>
                    <br>
                    <div class="skills">
                        <p class="python color-text">Python</p>
                    </div>
                    <br>
                    <h3 class="color-text">REDES</h3>
                    <br>
                    <div class="position-redes bottom">
                        <img src="/images/facebook.png" alt="fb" class="redes">
                        <p class="color-text">Facebook: Jeiker Muñoz</p>
                    </div>
                    <div class="position-redes">
                        <img src="/images/instagram.png" alt="ig" class="redes">
                        <p class="color-text">Instagram: Jkr_812</p>
                    </div>
            </article>
        </section>
        <section class="data">
            <article class="data-information">
                <h3>DATOS PERSONALES</h3>
                    <br>
                    <p>Nombre: <b>Jeiker Josram Muñoz García</b></p>
                    <p>C.I:<b>28408954</b></p>
                    <p>Lugar de Nacimiento: <b>San Juan de los Morros</b></p>
                    <p>Fecha: <b>08/01/2002</b></p>
                    <br>
                    <h3>DESTREZAS</h3>
                    <br>
                    <p>Se un poco de física y soy más qué todo un pensador lógico a la hora de planificar y resolver los problemas
                        a solventar en cuanto a los sistema, me falta un poco lo practico.
                    </p>
                    <br>
                <h3>FORMACIÓN ACADÉMICA</h3>
                <br>
                <div class="academic">
                    <p class="bar">2012 - 2017</p>
                    <p>BACHILLER</p>
                </div>
                <br>
                <p class="right">U.E.C.A "ANGEL DE LA GUARDA"</p>
                <br>
                <div class="academic">
                    <p class="bar-one ">2018 - ACTUAL </p>
                    <p>ACTUALMENTE</p>
                </div>
                <br>
                <p class="right">U.E.N "RÓMULO GALLEGOS"</p>
                <br>
                <h3>EXPERIENCIA LABORAL</h3>
                <br>
                <p>Trabajar en un local comercial.</p>
                <br>

            </article>
            
        </section>
    </main>
</body>
</html>
